* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", Arial, sans-serif;
  direction: rtl;
  background: #f4f6f9;
  padding: 20px;
}

.invoice {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  max-width: 900px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.logo {
  width: 120px;
}

.info {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.info > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* بدل fixed */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #f0f3f7;
}

input, select {
  width: 100%;
  border: none;
  text-align: center;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:nth-child(1){
  background: #3498db;
  color: white;
}

button:nth-child(2){
  background: #27ae60;
  color: white;
}

button:nth-child(3){
  background: #e67e22;
  color: white;
}

.deleteBtn{
  background:#e74c3c;
  color:white;
  padding:4px 8px;
  border-radius:4px;
}

@media print {
  .buttons {
    display: none;
  }
}

/* موبايل */
@media (max-width:768px){

  .invoice{
    width:100%;
    padding:15px;
  }

  th, td{
    font-size:12px;
    padding:5px;
  }

}

.pdf-only{
  display:none;
  font-weight:bold;
}

.pdf-mode #customerName,
.pdf-mode #date{
  display:none;
}

.pdf-mode .pdf-only{
  display:inline-block;
}

.pdf-mode table th, 
.pdf-mode table td {
  font-size: 14px;
}

#invoiceTable td:nth-child(2){
  white-space: normal;
  word-break: break-word;
  min-width: 120px;
}
